apiVersion: apps/v1
kind: Deployment
metadata:
  name: contex
spec:
  template:
    spec:
      containers:
      - name: contex
        resources:
          requests:
            memory: "1Gi"
            cpu: "500m"
          limits:
            memory: "4Gi"
            cpu: "2000m"
