apiVersion: networking.k8s.io/v1
kind: Ingress
metadata:
  name: contex
  annotations:
    nginx.ingress.kubernetes.io/rewrite-target: /
    cert-manager.io/cluster-issuer: "letsencrypt-prod"
spec:
  ingressClassName: nginx
  tls:
  - hosts:
    - contex.example.com
    secretName: contex-tls
  rules:
  - host: contex.example.com
    http:
      paths:
      - path: /
        pathType: Prefix
        backend:
          service:
            name: contex
            port:
              number: 8001
